/* CSS Document */

h1, #membersProducers {
    font-family: 'Architects Daughter', cursive;
}

#bandMembers {
    font-style: italic;}

#trackHeading {
    background-color: grey;
}

#membersProducers {
    text-align: center;
  }

.trackNumber {
  width: 70px;
  text-align: center;
  font-style: italic;
}

.trackTitle {
  width: 200px;
  text-align: center;
  font-style: italic;
}

.trackLength {
  width: 400px;
  text-align: center;
  font-style: italic;
}

a {
  text-decoration: none;
}

a:link {
}

a:hover {
  text-decoration: underline;
  background-color: green;
}
