/* CSS Document */

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer {
  height: auto;
}

main {
    flex: 1;
}

/* Header options */
#title {
    text-align: center;
    font-family: Permanent Marker, cursive;
}

.header {
    padding: 15px 15px 15px 15px;
    border-bottom-style:solid;
    border-width:thin;"
}

.headerButtons {
    padding: 20px;
    text-decoration: none;
}

.headerButtons:visited {
    color: red;
}

.headerButtons:hover {
    font-weight: bold;
}

.nav nav-pills {
    background-color: red;
}

.wrapper{
    min-height: 100%;
    height: auto;
    height: 100%;
    margin: 0 auto -155px;
}

html, body {
    height: 100%;
}

/* Carousel options */

.carousel-content {
    color:Lavender;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 30px;
  background-color: black;
  font-size: large;
}


/* Footer options */

.footer{
    border-top-style:solid;
    border-width:thin;
}

#address {
    padding:5px;
    height:50px;
    text-align: center;
}

#phoneNumber {
    text-align: center;
}

/* Menu options */
#menuItem {
    font-size: 20px;
}

/*

╭━━━━╮               This is cooldog.
╰┃ ┣▇━▇              Cooldog is here
 ┃ ┃  ╰━▅╮            to motivate me
 ╰┳╯ ╰━━┳╯          and keep me coding.
  ╰╮ ┳━━╯
 ▕▔▋ ╰╮╭━╮
╱▔╲▋╰━┻┻╮╲╱▔▔▔╲
▏  ▔▔▔▔▔▔▔  O O┃
╲╱▔╲▂▂▂▂╱▔╲▂▂▂╱
 ▏╳▕▇▇▕ ▏╳▕▇▇▕
 ╲▂╱╲▂╱ ╲▂╱╲▂╱

*/
